.game-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    $codeWidth: 6.5vmin;
    $boardBorder: 1px solid black;

    .user-interaction-mask {
        position: absolute;
        z-index: 9999;
        bottom: 0;
        right: 0;
        top: 0;
        left: 0;
    }

    .left-panel {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        width: 0;

        .next-codes-wrapper {
            border-left: $boardBorder;
            border-top: $boardBorder;
            display: flex;
            flex-direction: column;
            height: 54vh;
            width: 18vh;

            .next-code-wrapper {
                height: 100%;
                width: 100%;
                border-bottom: $boardBorder;
                border-right: $boardBorder;
                display: flex;
                justify-content: center;
                align-items: center;

                .code {
                    border-radius: 50%;
                    width: 80%;
                    height: 80%;
                }
            }
        }
    }

    .right-panel {
        position: relative;
        flex: 1;
        width: 0;
    }

    .board {
        position: relative;
        display: flex;
        flex-direction: column;
        border-left: $boardBorder;
        border-top: $boardBorder;
        height: 70vmin;
        width: 70vmin;
        background-color: #ccc;

        .row {
            display: flex;
            height: 0;
            flex-grow: 1;
            // justify-content: center;
            // align-items: center;

            .cell {
                width: 0;
                flex-grow: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: $boardBorder;
                border-right: $boardBorder;

                &.selected {
                    background-color: blueviolet;
                }

                .code {
                    border-radius: 50%;
                    height: $codeWidth;
                    width: $codeWidth;

                    &.prepared {
                        width: 25%;
                        height: 25%;
                    }
                }
            }
        }

        .moving-code {
            height: $codeWidth;
            width: $codeWidth;
            position: absolute;
            z-index: 1000;
            border-radius: 50%;
            transform: translateX(0.5vmin) translateY(0.5vmin);

            animation: code-moving-animation 1s;
        }
    }

    &.portrait {
        flex-direction: column;

        .left-panel {
            width: 100%;
            height: 0;

            .next-codes-wrapper {
                flex-direction: row;
                height: 18vw;
                width: 54vw;
            }
        }

        .right-panel {
            width: 100%;
            height: 0;
        }
    }
}
